<p>Marka: {{car.brand}}</p>
<p>Model: {{car.model}}</p>
<p>Silnik: {{car.engineType}}</p>
<p>Nadwozie: {{car.type}}</p>
<p>Czy przysługuje zniżka ? {{car.discountAvailable}}</p>
<p>Samochód dostępny w salonie przy ulicy:</p>
<p>{{car.address.streetName}} {{car.address.streetNumber}}/{{car.address.buildingNumber}}</p>

<p>Przykład w jednej linii: {{audiAddress}}</p>
<br>
<p>Marka: {{car1.brand}}</p>
<p>Model: {{car1.model}}</p>
<p>Silnik: {{car1.engineType}}</p>
<p>Nadwozie: {{car1.type}}</p>
<p>Czy przysługuje zniżka ? {{car1.discountAvailable}}</p>
<p>{{car1.discountPercent}} % zniżki</p>
<div *ngIf="car1.address; else carUnavailable">
  <p>Samochód dostępny w salonie przy ulicy:</p>
  <p>{{car1.address.streetName}}, {{car1.address.streetNumber}}, {{car1.address.buildingNumber}}</p>
</div>
<ng-template #carUnavailable>
  <p>Samochód nie dostępny w żadnym salonie.</p>
</ng-template>


<p>Karol otrzyma: {{karolDiscount}}% zniżki</p>
<p>Adam otrzyma: {{adamDiscount}}% zniżki</p>
<p>Wojtek otrzyma: {{wojtekDiscount}}% zniżki</p>
